{% extends 'core/basc.html'%}

 {% block content %}

 <div class="container mt-5">
        <h1 class="text-warning mb-5 border-bottom">Skills</h1>

        <div class="row text-center text-white mt-5">
            <div class="col-sm-6">

                <h3>Html/css</h3>
                <div class="progress mt-3">
                 <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                </div>

                </div>
            <div class="col-sm-6">

                <h3>Java Script</h3>
               <div class="progress mt-3">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">75%</div>
               </div>

                </div>




        </div>




            <div class="row text-center text-white mt-5 ">
            <div class="col-sm-6">

                <h3>Java programming</h3>
                <div class="progress mt-3">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%">90%</div>
               </div>
                </div>
            <div class="col-sm-6">

                <h3>python</h3>
               <div class="progress mt-3">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 95%">95%</div>
               </div>

                </div>




        </div>


     <div class="row text-center text-white mt-5 ">
            <div class="col-sm-6">

                <h3>C programming</h3>
                <div class="progress mt-3">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%">90%</div>
               </div>
                </div>
            <div class="col-sm-6">

                <h3>SQL</h3>
               <div class="progress mt-3">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 95%">95%</div>
               </div>

                </div>

        </div>

        <div class="row text-center text-white mt-5 ">
            <div class="col-sm-6">

                <h3>Django</h3>
                <div class="progress mt-3">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 90%">90%</div>
               </div>
                </div>
            <div class="col-sm-6">

                <h3>Django Framework</h3>
               <div class="progress mt-3">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 85%">85%</div>
               </div>

                </div>


        </div>


             <ol class="mt-5 text-white">
                    <li>

                        <a href="https://github.com/ashrafulislamemon" class="text-white mt-5"><h3>Github link</h3> </a>
                    </li>
                    <li>
                        <a href="https://www.urionlinejudge.com.br/judge/en/profile/201173" class="text-white"><h3>URI online judge</h3></a>
                    </li>
                </ol>



        </div>
 </div>
{% endblock content %}